@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: 'Pacifico', cursive;
    margin: 0px;
}


:root {
    background-color: white;
    color: black;
}


/* all component styles here */

.section {
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.nav-bar {
    text-align: center;
    background-color: yellow;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}


.header {
    display: block;
    font-size: 2em;
    font-weight: bold;
}


textarea {
    width: 80%;
    height: 15vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    margin-right: auto;
    margin-left: auto;
}

.container {
    text-align: center;
}

button {
    background-color: yellow;
    border: none;
    font-family: 'Pacifico', cursive;
    font-size: large; 
}

.trantext {
    padding-left: 1rem;
    margin-top: -1rem;
    text-align: center;
}

#output {
    border: solid 1px black;
    width: 80%;
    height: 15vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

footer {
    margin: auto;
    background-color: yellow;
    display: block;
    padding: 1rem 0rem;
}

.about {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.foot-text {
    text-align: center;
    margin: auto;
    padding-top: 1rem;
}


